:root {
	--purple: #9f4298;
	--tealgreen: #cfdb31;
	--lightpurple: #d1afd3;
	--lightgray: #e6e7e8;
	--lightblue: #f1faff;
	--blue: #106ebe;
	--mint: #0ffcbe;
}

* {
	box-sizing: border-box;
	font-family: poppins;
	/* outline: 0.2px solid #0ffcbe; */
}
body {
	/* margin: 20px 200px; */
	/* background-color: var(--lightblue); */
}
.hero {
	padding: 100px;
	background-color: var(--lightblue);
	width: 100%;
}
h3,
p {
	color: gray;
	font-weight: 400;
}

h1 {
	color: var(--blue);
}
.search-placeholder {
	width: 400px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid var(--lightgray);
}
button {
	height: 40px;
	width: 120px;
	border-radius: 4px;
	border: none;
}

.photogallerySection {
	padding-top: 30px;
}

.photogalleryCaption {
	color: var(--lightpurple);
	padding-bottom: 10px;
}

.photogallery {
	display: flex;
	gap: 5px;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.photogallery img {
	overflow: hidden;
	width: 300px;
	/* height: 200px; */
	background-color: var(--mint);
	border-radius: 4px;
}

nav {
	padding: 50px 0px;
	text-align: right;
}
